#menu.navbar.navbar-fixed-top.navbar-inverse
	.navbar-inner
		.container
			a.btn.btn-navbar(
				data-toggle="collapse",
				data-target=".nav-collapse",
				style="z-index:1050; position:relative;")
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.brand(href="/")= title
			.nav-collapse
				ul.nav
					block navResume
						li.simple.active
							a(href="/") Resume
						li.dropdown
							a.dropdown-toggle(
								href='#',
								data-toggle='dropdown')
								| Resume 
								b.caret
							ul.dropdown-menu.scroll-to
								li
									a(href="#interests") Interests
								li
									a(href="#skills") Skills
								li
									a(href="#programming") Programming languages
								li
									a(href="#databases") Databases
								li
									a(href="#education") Education
								li
									a(href="#publications") Publications
								li
									a(href="#experience") Work experience
								li
									a(href="#languages") Human languages

					li.divider
					block navContact
						li
							a(href="/contact") Contact